@charset "UTF-8";
@import url("https://media.bettergov.org/bga-fontello-icons/css/bga-icons.css");
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details {
  display: block; }

summary {
  display: list-item; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type='radio'] {
  vertical-align: text-bottom; }

input[type='checkbox'] {
  vertical-align: bottom; }

.ie7 input[type='checkbox'] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select,
input,
textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td,
td img {
  vertical-align: top; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button,
.button {
  cursor: pointer; }


button,
.button,
input,
select,
textarea {
  margin: 0; }


button,
.button,
input[type='button'] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix:after {
  content: ' ';
  display: block;
  clear: both; }

html {
  color: #121212;
  font-size: 100%;
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    html {
      font-size: 112.5%; } }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

::selection {
  background: #b4d5fe;
  /* WebKit/Blink Browsers */ }


button,
.button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: #5b7383;
  color: #f7f7f7;
  padding: 0.5rem;
  transition: background-color 0.25s;
  border-radius: 3px; }
  button:hover, .button:hover, button:focus, .button:focus {
    background: #35434d;
    color: #f7f7f7; }
  button.unstyled, .unstyled.button {
    background: unset;
    border: unset;
    color: unset;
    font-weight: unset;
    padding: unset;
    text-transform: unset;
    transition: unset; }

@keyframes det {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

details {
  margin: 1.2rem 0;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem; }

summary {
  margin: 0 -1rem 1rem;
  padding: 1rem;
  border-bottom: solid 1px #6e7381;
  color: #6e7381;
  font-weight: bold;
  transition: color 0.3s ease, border-top-color 0.3s ease;
  cursor: pointer;
  list-style-type: none; }
  summary::-webkit-details-marker {
    display: none; }
  summary::before {
    content: '';
    position: absolute;
    right: 100%;
    margin-top: 0.8ex;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid currentColor;
    transition: transform 0.1s linear; }

summary:focus,
summary:hover,
details[open] > summary {
  border-top-color: #121212;
  color: #121212; }

details[open] > summary::before {
  transform: rotate(90deg); }

details[open] > summary ~ * {
  animation: det 0.3s; }

figure {
  margin: 1.2rem 0; }

figcaption, .caption {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  margin-top: 0.25em;
  color: #6e7381; }

.cutline {
  font-size: 0.8em;
  font-weight: 300; }

h1,
.h1, h2,
.h2, h3,
.h3, .card-title, h4,
.h4, .card-subtitle, h5,
.h5, h6,
.h6 {
  margin-top: 2.4rem;
  margin-bottom: 0.8rem; }
  h1 + *, .h1 + *, h2 + *, .h2 + *, h3 + *, .h3 + *, .card-title + *, h4 + *, .h4 + *, .card-subtitle + *, h5 + *, .h5 + *, h6 + *, .h6 + * {
    margin-top: unset; }
  h1:first-child,
  .h1:first-child, h2:first-child,
  .h2:first-child, h3:first-child,
  .h3:first-child, .card-title:first-child, h4:first-child,
  .h4:first-child, .card-subtitle:first-child, h5:first-child,
  .h5:first-child, h6:first-child,
  .h6:first-child {
    margin-top: 0; }

h1,
.h1 {
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.1; }

h2,
.h2 {
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
  font-size: 1.9em;
  line-height: 1.2;
  font-weight: normal; }

h3,
.h3, .card-title {
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h4,
.h4, .card-subtitle {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: lighter; }

h5,
.h5 {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3.5px;
  color: #6e7381;
  margin-bottom: 0.25rem; }

h5,
.h5 {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3.5px;
  color: #6e7381;
  margin-bottom: 0.25rem; }

h6,
.h6 {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.3;
  font-weight: normal;
  letter-spacing: 0.25px; }

a:link {
  color: currentColor;
  text-decoration: none;
  text-shadow: 0.03em 0 #f7f7f7, -0.03em 0 #f7f7f7, 0 0.03em #f7f7f7, 0 -0.03em #f7f7f7, 0.06em 0 #f7f7f7, -0.06em 0 #f7f7f7, 0.09em 0 #f7f7f7, -0.09em 0 #f7f7f7, 0.12em 0 #f7f7f7, -0.12em 0 #f7f7f7, 0.15em 0 #f7f7f7, -0.15em 0 #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(#4b8bbf, #4b8bbf);
  background-size: 0.05em 2px, 0.05em 2px, 1.5px 1.5px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%; }
  a:link::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe; }
  a:link:before, a:link:after,
  a:link *,
  a:link *:before,
  a:link *:after {
    text-shadow: none; }
  @media print {
    a:link {
      background: unset;
      text-shadow: unset; } }
  a:link:hover, a:link:focus {
    color: #4b8bbf; }

a:visited {
  color: purple;
  text-decoration: none;
  text-shadow: 0.03em 0 #f7f7f7, -0.03em 0 #f7f7f7, 0 0.03em #f7f7f7, 0 -0.03em #f7f7f7, 0.06em 0 #f7f7f7, -0.06em 0 #f7f7f7, 0.09em 0 #f7f7f7, -0.09em 0 #f7f7f7, 0.12em 0 #f7f7f7, -0.12em 0 #f7f7f7, 0.15em 0 #f7f7f7, -0.15em 0 #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(#f7f7f7, #f7f7f7), linear-gradient(purple, purple);
  background-size: 0.05em 2px, 0.05em 2px, 1.5px 1.5px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 93%, 100% 93%, 0% 93%; }
  a:visited::selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe; }
  a:visited:before, a:visited:after,
  a:visited *,
  a:visited *:before,
  a:visited *:after {
    text-shadow: none; }
  @media print {
    a:visited {
      background: unset;
      text-shadow: unset; } }

.without-underline:link {
  background: unset;
  text-shadow: unset; }

table {
  color: #121212;
  margin: 1.2rem 0;
  font-size: 0.9rem;
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  table caption {
    font-family: acumin-pro-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem;
    text-align: left; }

tbody > tr {
  border-bottom: 1px solid #6e7381; }
  tbody > tr:nth-child(2n + 1) {
    background: #f7f7f7; }
  tbody > tr:last-child {
    border-bottom: 0; }

td {
  padding: 0.5rem 0.25rem;
  vertical-align: top; }

th {
  padding: 0.5rem 0.25rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: left; }

thead {
  border-bottom: 1px solid #282d40; }
  thead > th {
    vertical-align: bottom; }

tfoot {
  border-top: 1px solid #282d40; }
  tfoot > th {
    vertical-align: top; }

p {
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.618;
  overflow-wrap: break-word;
  margin: 1.2rem 0; }

ul,
ol {
  margin: 1.2rem 1rem; }
  @media (min-width: 1024px) {
    ul,
    ol {
      margin-left: 0;
      margin-right: 0; } }

ul {
  list-style: disc; }

ol {
  font-variant-numeric: tabular-nums; }

li {
  line-height: 1.618;
  margin: 1.2rem 0; }

blockquote {
  margin: 0 0 1.2rem;
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f7f7f7;
  padding: 1em;
  border-left: 6px solid #b1b4bd; }

hr {
  margin: 2.4rem 0; }

pre {
  background: #f7f7f7;
  border: 5px double #234c69;
  padding: 2em;
  white-space: pre-wrap; }

section {
  margin: 2rem 0; }

.page-container, .main-contents {
  width: 1024px;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1rem;
  padding-right: 1rem; }

@media (min-width: 768px) and (max-width: 1023px) {
  .story > p,
  .story > hr,
  .story > ul,
  .story > ol,
  .story > details,
  .story > blockquote,
  .story > .subhed {
    max-width: 600px; } }

@media (min-width: 1024px) {
  .story > p,
  .story > hr,
  .story > ul,
  .story > ol,
  .story > details,
  .story > blockquote,
  .story > .subhed {
    max-width: calc(200% / 3); } }

[class^='icon-']:before,
[class*=' icon-']:before {
  display: inherit; }

@media (max-width: 767px) {
  .photo {
    width: calc(100% + 2 * 1rem);
    max-width: calc(100% + 2 * 1rem);
    margin-left: -1rem;
    margin-right: -1rem; } }
  @media (max-width: 767px) and (min-width: 1024px) {
    .photo {
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }
  @media (max-width: 767px) and (min-width: 1024px) {
    .photo {
      width: auto;
      margin-left: -1rem !important;
      margin-right: -1rem !important; } }

@media (max-width: 767px) {
    .photo figcaption, .photo .caption {
      max-width: calc(100% - 2 * 1rem);
      margin-left: auto !important;
      margin-right: auto !important; } }
    @media (max-width: 767px) and (min-width: 1024px) {
      .photo figcaption, .photo .caption {
        width: calc( 1024px - 2 * 1rem); } }

.doc.is-small {
  display: flex; }

.doc-link {
  background: none;
  margin-right: 1em; }

.doc-img {
  box-shadow: 5px 5px 15px #888888; }
  .doc-img:hover {
    box-shadow: 5px 5px 20px #888888;
    opacity: 0.95; }

.card {
  background-color: #f7f7f7;
  border-top: 4px solid #b1b4bd;
  color: rgba(18, 18, 18, 0.7);
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 1rem;
  width: 100%; }
  .card > :first-child {
    margin-top: 0; }
  .card > :last-child {
    margin-bottom: 0; }
  .card p {
    line-height: 1.2; }

.card-subtitle {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 0.2em; }

.card-title {
  margin-bottom: 0.4em; }

.dropcap {
  color: currentColor;
  font-family: inherit;
  font-size: calc(2em * (1.618 + 0.22));
  float: left;
  font-weight: bold;
  line-height: 1ch;
  margin-right: 10px; }

.nav-bottom {
  background-color: #121212;
  position: relative;
  font-family: acumin-pro-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  padding: 0.5em 1rem;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  position: relative; }
  .nav-bottom .logo {
    color: white;
    font-size: 1.5em; }
  .nav-bottom .share-toggle {
    color: white;
    border: none;
    background: none;
    font-size: 1.2em;
    cursor: pointer; }
  .nav-bottom a {
    background: unset;
    text-shadow: unset; }
  .nav-bottom .share-menu {
    right: 0;
    bottom: 2rem; }
    .nav-bottom .share-menu.active {
      bottom: 100%; }

.intro {
  margin-top: 0; }
  @media (min-width: 1024px) {
    .intro .hed {
      font-size: 3em; } }
  .intro .dek {
    font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1em; }
    @media (min-width: 1024px) {
      .intro .dek {
        font-size: 1.2em; } }
  .intro .bylines {
    font-style: italic; }
    .intro .bylines > a {
      font-weight: bold;
      font-style: normal; }
  .intro .info {
    font-size: 0.85em; }
    .intro .info p,
    .intro .info a {
      color: #6e7381;
      font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .intro > header {
    margin-top: 1rem; }
    .intro > header img {
      width: 100%; }

.lede-image {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 0; }
  .lede-image .caption {
    text-align: right; }

.header--heroic {
  position: relative;
  margin-top: 0 !important; }
  .header--heroic .lede-copy {
    position: absolute;
    bottom: 2rem; }
  .header--heroic .lede-image {
    width: calc(100% + 2 * 1rem);
    max-width: calc(100% + 2 * 1rem);
    margin-left: -1rem;
    margin-right: -1rem; }
    @media (min-width: 1024px) {
      .header--heroic .lede-image {
        width: 100vw;
        max-width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%); } }
    .header--heroic .lede-image img {
      min-height: 30vh;
      max-height: 100vh;
      object-fit: cover; }
    .header--heroic .lede-image .caption {
      max-width: calc(100% - 2 * 1rem);
      margin-left: auto !important;
      margin-right: auto !important; }
      @media (min-width: 1024px) {
        .header--heroic .lede-image .caption {
          width: calc( 1024px - 2 * 1rem); } }

.header--top .lede-copy {
  top: 2rem; }

.header--center .lede-copy {
  text-align: center;
  width: 100%; }

.header--invert {
  color: #ededed; }
  .header--invert .kicker {
    color: currentColor; }

@media (max-width: 767px) {
  .header--drop-mobile .lede-copy {
    position: relative;
    color: #121212;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; } }

.header--split-right,
.header--split-left {
  width: calc(100% + 2 * 1rem);
  max-width: calc(100% + 2 * 1rem);
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0 !important; }
  @media (min-width: 1024px) {
    .header--split-right,
    .header--split-left {
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }
  .header--split-right .caption,
  .header--split-right .lede-copy,
  .header--split-left .caption,
  .header--split-left .lede-copy {
    max-width: calc(100% - 2 * 1rem);
    margin-left: auto !important;
    margin-right: auto !important; }
    @media (min-width: 1024px) {
      .header--split-right .caption,
      .header--split-right .lede-copy,
      .header--split-left .caption,
      .header--split-left .lede-copy {
        width: calc( 1024px - 2 * 1rem); } }
  @media (min-width: 768px) {
    .header--split-right,
    .header--split-left {
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
      .header--split-right .caption,
      .header--split-right .lede-copy,
      .header--split-left .caption,
      .header--split-left .lede-copy {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0; }
      .header--split-right .lede-image,
      .header--split-left .lede-image {
        align-self: stretch;
        min-height: 40vw;
        max-height: 80vh; }
      .header--split-right .lede-image > img,
      .header--split-left .lede-image > img {
        object-fit: cover;
        object-position: right;
        height: 100%; }
      .header--split-right .lede-copy,
      .header--split-left .lede-copy {
        padding: 1rem; } }

@media (min-width: 768px) {
  .header--split-right {
    flex-direction: row-reverse; }
    .header--split-right .caption {
      text-align: left; } }

.link {
  margin: 1.2rem 0;
  font-weight: bold; }
  .link > a::after {
    font-family: 'bga-icons';
    content: "";
    margin-left: 0.2em; }

.link-large {
  font-size: 1.5rem; }

nav.global {
  border-bottom: 1px solid rgba(180, 180, 180, 0.35);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative; }
  nav.global a {
    background: unset;
    text-shadow: unset; }
    nav.global a:hover, nav.global a:focus {
      text-decoration: none;
      opacity: 0.8; }
  nav.global .navbar-brands {
    display: flex;
    align-items: center; }
  nav.global .navbar-brand a {
    transition: none; }
    nav.global .navbar-brand a:hover {
      opacity: 1; }
  nav.global .icon--bga-logo {
    color: #003a63;
    font-size: 2em;
    height: 1em;
    width: 2em; }
  nav.global .share-toggle {
    border: none;
    background: none;
    font-size: 1.2em;
    color: #6e7381;
    cursor: pointer; }
    nav.global .share-toggle:hover {
      color: #282d40; }
  nav.global .share-menu {
    position: absolute;
    right: 0;
    top: 1.9rem; }
    nav.global .share-menu.active {
      top: 100%; }

.pullquote {
  background: transparent;
  color: #6e7381;
  margin-bottom: 1rem;
  width: 100%; }
  .pullquote::before {
    height: 0.5rem;
    width: 8rem;
    background: #00528c;
    display: block;
    content: '';
    margin-bottom: 1rem; }
  .pullquote .quote {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2; }
  .pullquote .quote-speaker {
    margin-top: 0.5em;
    font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold; }
  .pullquote .quote-role {
    font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.share-menu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  z-index: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  position: absolute;
  font-size: 1.5rem;
  transition: opacity 0.4s, top 0.4s, bottom 0.4s; }
  .share-menu.active {
    visibility: visible;
    opacity: 1; }
  .share-menu a:hover {
    opacity: 1 !important; }
    .share-menu a:hover i:before {
      opacity: 1; }
  .share-menu i {
    background: coral;
    color: white;
    padding: 0.3em 0.1em 0.1em;
    height: 1.6em;
    width: 1.6em;
    display: block; }
    .share-menu i:before {
      transition: opacity 0.4s;
      opacity: 0.8; }
  .share-menu .icon--facebook {
    background: #3b5998; }
  .share-menu .icon--twitter {
    background: #55acee; }
  .share-menu .icon--email {
    background: #282d40; }
  .share-menu .icon--print {
    background: #6e7381; }

.share-toggle {
  font-weight: normal;
  padding: 0; }

.align-center {
  clear: both !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.align-right, .align-right-mobile {
  float: right;
  margin-left: 1rem;
  margin-top: 0; }
  @media (max-width: 639px) {
    .align-right:not(.align-right-mobile), .align-right-mobile:not(.align-right-mobile) {
      clear: both !important;
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important; } }

.align-left, .align-left-mobile {
  float: left;
  margin-right: 1rem;
  margin-top: 0; }
  @media (max-width: 639px) {
    .align-left:not(.align-left-mobile), .align-left-mobile:not(.align-left-mobile) {
      clear: both !important;
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important; } }

.serif {
  font-family: ff-more-web-pro, Georgia, Times, "Times New Roman", serif !important; }

.sans {
  font-family: acumin-pro, "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.condensed {
  font-family: acumin-pro-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

.bold {
  font-weight: bold !important; }

.italic {
  font-style: italic !important; }

.normal {
  font-weight: normal !important; }

.caps,
.uppercase {
  text-transform: uppercase !important; }

.underline {
  text-decoration: underline !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; }

.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none !important; }

.is-full,
.full-width {
  width: calc(100% + 2 * 1rem);
  max-width: calc(100% + 2 * 1rem);
  margin-left: -1rem;
  margin-right: -1rem; }
  @media (min-width: 1024px) {
    .is-full,
    .full-width {
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }

.is-jumbo {
  max-width: 1024px; }

.is-large {
  max-width: 768px; }

.is-medium {
  max-width: 500px; }

.is-small {
  max-width: 330px; }

.fit-outer {
  width: calc(100% + 2 * 1rem);
  max-width: calc(100% + 2 * 1rem);
  margin-left: -1rem;
  margin-right: -1rem; }
  @media (min-width: 1024px) {
    .fit-outer {
      width: 100vw;
      max-width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%); } }
  @media (min-width: 1024px) {
    .fit-outer {
      width: auto;
      margin-left: -1rem !important;
      margin-right: -1rem !important; } }

.fit-inner {
  max-width: calc(100% - 2 * 1rem);
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 1024px) {
    .fit-inner {
      width: calc( 1024px - 2 * 1rem); } }
