html {
  color: $bga-alt-black;
  font-size: $font-size-small;
  font-family: $serif;

  @include media('>=tablet') {
    font-size: $font-size-normal;
  }

  overflow-x: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
}
