html {
  font-size: $font-size-small;

  @media (min-width: $min-width-md) {
    font-size: $font-size-normal;
  }

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
}