//Clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Margin auto
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// Clear default link behavior
@mixin clear-link {
  background: none;
  padding: 0;
}

// Full width override
@mixin full-width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
