article.main {
  // box-sizing: content-box;
  width: $max-outer-content-width;
  max-width: 100%;
  @include marginAuto;
  padding-left: $content-padding;
  padding-right: $content-padding;

  // @include media('>=desktop') {
  //   padding: 0 $desktop-content-padding;
  // }
}
