.sidebar {
  @extend .art.small;
  @extend .art.align-right;

  @include media('<phone') {
    max-width: 100%;
  }

  background: linear-gradient(to bottom, $light-gray, transparent 90%);
  padding: 1rem;
  font-size: 0.9em;

  .subhed {
    font-family: $font-family-condensed;
  }

  .expand {
    font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0 auto;
    display: table;
    cursor: pointer;
    background: none;
    border: none;
  }

  .more {
    display: none;
    // height: 0;
    overflow: hidden;
  }
}
