// Brand colors
$bga-blue: #003a63;
$bga-blue-light: #00528c;
$bga-yellow: #fff200;
$bga-light-background: #f7f7f7;
$bga-light-gray: #b1b4bd; // TODO Replace grays
$bga-medium-gray: #6e7381;
$bga-dark-gray: #282d40;
$bga-alt-black: #121212;

// Links
$link: $bga-blue;
$link-hover: $bga-blue-light;

// Highlight
$highlight: rgba(255, 242, 0, 0.7);

$accent: $bga-yellow;
