// Font families
@import url('https://use.typekit.net/mqd7hhp.css');

$acumin-pro-condensed: 'Acumin Pro Condensed', 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
$acumin-pro: 'Acumin Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-more: ff-more-web-pro, Georgia, Times, 'Times New Roman', serif;

$condensed: $acumin-pro-condensed;
$sans: $acumin-pro;
$serif: $ff-more;

// Base font sizes
$font-size-normal: 17px;
$font-size-small: 15px;

// Paragraph line height
$paragraph-line-height: 1.618;

// Paragraph width
$paragraph-width-tablet: 600px;
$paragraph-width-desktop: calc(200% / 3);
