figcaption {
  font-family: $font-family-sans;
  font-size: 0.8rem;
  line-height: 1.2;
  margin-top: 0.25em;
  color: $secondary-text-color;
}

.caption {
  @extend figcaption;
}

.cutline {
  font-size: 0.8rem;
  font-weight: 300;
}
