/* We achieve a background animation effect by manipulating the background position.
See https://codersblock.com/blog/gradient-animation-trick/ */
a {
  color: currentColor;
  background-image: linear-gradient(
    to top,
    $highlight 0%,
    $highlight 35%,
    transparent 35%,
    transparent 100%
  );
  background-size: auto 225%;
  background-position: 0 50%;
  text-decoration: none;

  &:hover,
  &:focus {
    color: currentColor;
    text-decoration: none;
    background-position: 0 100%;
  }
}

a,
a::before,
a::after,
button {
  transition: background-position 0.25s ease;
}
