// Paragraph
p {
  font-family: $font-family-serif;
  font-size: 1em;
  line-height: $paragraph-line-height;
  overflow-wrap: break-word;
  margin: $spacing-standard 0;
}

// List
ul,
ol {
  margin: $spacing-standard $content-padding;

  @include media('>=desktop') {
    margin-left: 0;
    margin-right: 0;
  }
}

ul {
  list-style: disc;
}

ol {
  // so that the numbers are properly aligned
  font-variant-numeric: tabular-nums;
}

li {
  line-height: $paragraph-line-height;
  margin: $spacing-standard 0;
}

// Blockquote
blockquote {
  margin: 0 0 $spacing-standard;

  font-family: $font-family-sans;
  background: $off-white;
  padding: 1em;
  border-left: 6px solid $light-gray;
}

// Horizontal rule
hr {
  margin: 2 * $spacing-standard 0;
}

// Preformatted
pre {
  background: $off-white;
  border: 5px double desaturate($accent, 50%);
  padding: 2em;
  white-space: pre-wrap;
}
