$card-background-color: $off-white !default;
$card-border-color: $light-gray !default;

.card {
  background-color: $card-background-color;
  border-top: 4px solid $card-border-color;
  font-family: $font-family-sans;
  font-size: 0.95rem;
  margin-top: $spacing-standard;
  margin-bottom: $spacing-standard;
  padding: 1rem;
  width: 100%;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    line-height: 1.2;
  }
}

.card__subtitle {
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.card__title {
  margin-bottom: 0.4em;
}
