.credits {
  font-family: $sans;
  background: $bga-off-white;
  border-top: 4px solid $bga-light-gray;
  margin-bottom: 0;
  padding: 1em 0;

  // @include full-width;

  ul {
    margin: 0;

    @include media('>=desktop') {
      margin-left: 2rem;
    }
  }

  p {
    font-family: $sans;
  }

  .subhed {
    font-family: $sans;
    font-size: 1.2em;
  }
}

.credits__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: none;

  @include media('>=desktop') {
    flex-direction: row;
  }
}
