.intro {
  margin-top: 0;

  .hed {
    @include media('>=desktop') {
      font-size: 3em;
    }
  }

  .dek {
    font-family: $font-family-serif;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1em;
    @include media('>=desktop') {
      font-size: 1.2em;
    }
  }

  .bylines {
    font-style: italic;
    > a {
      font-weight: bold;
      font-style: normal;
    }
  }

  .info {
    p,
    a {
      color: $secondary-text-color;
      font-family: $font-family-sans;
    }
    font-size: 0.85em;
  }

  > header {
    margin-top: 1rem;

    img {
      width: 100%;
    }
  }
}

.lede-image {
  position: relative;
  margin-bottom: 1rem;

  .caption {
    text-align: right;
  }
}

// Hero headers
.header--heroic {
  position: relative;
  margin-top: 0 !important;

  .lede-copy {
    position: absolute;
    bottom: 2rem;
  }

  .lede-image {
    @include fullWidth;
    .caption {
      @include fitInner;
    }
  }
}

.header--top {
  .lede-copy {
    top: 2rem;
  }
}

.header--center {
  .lede-copy {
    text-align: center;
    width: 100%;
  }
}

.header--invert {
  color: white;
  .kicker {
    color: currentColor;
  }
}

.header--drop-mobile {
  @include media('<tablet') {
    .lede-copy {
      position: relative;
      color: $primary-text-color;
      @include resetAbsolute;
    }
  }
}

// Split headers
.header--split-right,
.header--split-left {
  @include fullWidth;
  margin-top: 0 !important;
  .caption,
  .lede-copy {
    @include fitInner;
  }
  @include media('>=tablet') {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .caption,
    .lede-copy {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .lede-image {
      align-self: stretch;
      min-height: 40vw;
      max-height: 80vh;
    }
    .lede-image > img {
      object-fit: cover;
      object-position: right;
      height: 100%;
    }
    .lede-copy {
      padding: 1rem;
    }
  }
}

.header--split-right {
  @include media('>=tablet') {
    flex-direction: row-reverse;
    .caption {
      text-align: left;
    }
  }
}
