.link {
  margin: 0 0 1.2rem;
  display: inline-block;
  font-weight: bold;

  // Append right arrow icon
  > a::after {
    @include icon('right');
    margin-left: 0.2em;
  }
}

.link-large {
  font-size: 1.5rem;
}
