$pullquote-background-color: transparent !default;
$pullquote-border-color: $accent-color !default;
$pullquote-text-color: $secondary-text-color !default;

.pullquote {
  background: $pullquote-background-color;
  color: $pullquote-text-color;
  margin-bottom: 1rem;
  width: 100%;

  @include shortDivider($pullquote-border-color);

  .quote {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
  }

  .quote-speaker {
    margin-top: 0.5em;
    font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: bold;
  }

  .quote-role {
    font-family: $font-family-sans;
  }
}
