.pullquote {
  width: 100%;
  margin-bottom: 1rem;

  @include shortDivider;

  .quote {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.2;
  }

  .quote-speaker {
    margin-top: 0.5em;
    font-family: $font-family-sans;
    text-transform: uppercase;
    font-weight: bold;
  }

  .quote-role {
    font-family: $font-family-sans;
  }
}
