html {
  color: $primary-text-color;
  font-size: $font-size-normal;
  font-family: $font-family-serif;
  overflow-x: hidden;
  overflow-y: scroll;

  @include media('>=tablet') {
    font-size: $font-size-large;
  }
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background: $selection-color; /* WebKit/Blink Browsers */
}
