// Footer
footer {
  background-color: $bga-alt-black;
  position: relative;
  font-family: $condensed;
  text-align: left;
  padding: 0.5em 1rem;

  display: flex;
  justify-content: space-between;
  align-items: last baseline;

  .bga-brand {
    color: white;
    font-size: 1.5em;
  }

  .share {
    color: white;
  }

  a {
    @include clear-link;
  }
}

// Sticky footer
// Footer is pinned to bottom, even if the content doesn't take up the whole page
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 3em;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
  overflow: hidden;
}
