.intro {
  .info p,
  .info a {
    color: $bga-medium-gray;
    font-family: $sans;
    font-size: 0.9em;
  }

  .info {
    .byline {
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
