.intro {
  .info {
    p,
    a {
      color: $bga-medium-gray;
      font-family: $sans;
    }
    font-size: 0.9em;

    .byline > a {
      // text-transform: uppercase;
      font-weight: 700;
    }
  }
}
