$min-width-phone: 640px !default;
$min-width-tablet: 768px !default;
$min-width-desktop: 1024px !default;

$breakpoints: (
  phone: $min-width-phone,
  tablet: $min-width-tablet,
  desktop: $min-width-desktop
);
