// Brand colors
$bga-blue: #003a63;
$bga-blue-light: #00528c;
$bga-yellow: #fff200;

// Shades of gray
$off-white: #f7f7f7;
$light-gray: #b1b4bd;
$medium-gray: #6e7381;
$dark-gray: #282d40;
$alt-black: #121212;

// Social
$facebook-blue: #3b5998;
$twitter-blue: #55acee;

// Text colors
$primary-text-color: $alt-black !default;
$secondary-text-color: $medium-gray !default;
$link: #4b8bbf !default;

// Background colors
$background-color: $off-white !default;
$selection-color: #b4d5fe !default;

// Highlight
$highlight: rgba(255, 242, 0, 0.7) !default;
$accent: $bga-yellow !default;
