$max-outer-content-width: $min-width-desktop;
$content-padding: 1rem !default;

// Max width on mobile
$max-content-width: calc(100% - 2 * #{$content-padding});

// Max width on desktop
$desktop-max-content-width: calc(
  #{$min-width-desktop} - 2 * #{$content-padding}
);

$spacing-standard: 1.2rem !default;
