$max-outer-content-width: $min-width-desktop;
$content-padding: 1rem;
$max-content-width: calc(100% - 2 * #{$content-padding});
$desktop-max-content-width: calc(
  #{$min-width-desktop} - 2 * #{$content-padding}
);
// $desktop-content-padding: calc(
//   (#{$max-outer-content-width - $max-content-width}) / 2
// );
// $desktop-content-padding-negative: calc(
//   (#{$max-content-width - $max-outer-content-width}) / 2
// );
