// Font families
$acumin-pro-condensed: acumin-pro-condensed, 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$acumin-pro: acumin-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-more: ff-more-web-pro, Georgia, Times, 'Times New Roman', serif;

$font-family-condensed: $acumin-pro-condensed !default;
$font-family-sans: $acumin-pro !default;
$font-family-serif: $ff-more !default;

// Base font sizes
// - Use percentages relative to 16px to account for browser font-size preferences
$font-size-normal: (16 / 16) * 100% !default;
$font-size-large: (18 / 16) * 100% !default;

// Paragraph line height
$paragraph-line-height: 1.618;

// Paragraph width
$paragraph-width-tablet: 600px;
$paragraph-width-desktop: calc(200% / 3);
