.fit-outer {
  @include fitOuter;
}

.fit-inner {
  @include fitInner;
}

// Alignment classes
.align-center {
  @include alignCenter;
}

.align-right {
  float: right;
  margin-left: 1rem;

  @include media('<phone') {
    @include alignCenter;
  }
}

.align-left {
  float: left;
  margin-right: 1rem;

  @include media('<phone') {
    @include alignCenter;
  }
}
