$widths: (
  'jumbo': $max-outer-content-width,
  'large': $min-width-tablet,
  'medium': 500px,
  'small': 330px
) !default;

// Width classes
.is-full,
.full-width {
  @include fullWidth;
}

.is-jumbo {
  max-width: map-get($widths, 'jumbo');
}

.is-large {
  max-width: map-get($widths, 'large');
}

.is-medium {
  max-width: map-get($widths, 'medium');
}

.is-small {
  max-width: map-get($widths, 'small');
}

.fit-outer {
  @include fitOuter;
}

.fit-inner {
  @include fitInner;
}
