.art {
  margin-bottom: 1rem;
  max-width: 100%;

  // Width classes
  &.jumbo {
    width: $max-outer-content-width;
  }

  &.large {
    width: $min-width-tablet;
  }

  &.medium {
    width: 500px;

    @include media('<tablet') {
      @include align-center;
    }
  }

  &.small {
    width: 330px;

    @include media('<phone') {
      @include align-center;
    }
  }

  // Alignment classes
  &.align-right {
    float: right;
    margin-left: 1rem;
  }

  &.align-left {
    float: left;
    margin-right: 1rem;
  }

  // Type classes
  &.photo {
    &.large {
      @include media('<tablet') {
        @include fit-outer;

        > .caption {
          @include fit-inner;
        }
      }
    }
  }

  &.photo-set > .images {
    display: flex;
    align-items: center;
    // flex-wrap: wrap;

    img:not(:last-child) {
      margin-right: 0.5rem;
    }

    + .caption {
      margin-top: 0.75em;
    }
  }
}

.caption {
  font-family: $sans;
  font-size: 0.8em;
  line-height: 1.2;
  margin-top: 0.25em;
  color: $bga-medium-gray;
}

.cutline {
  font-size: 0.8em;
  font-weight: 300;
}
